<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="salary"
        >Salary simulation</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="income-tax-simulator"
        >Income Tax simulation</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </li>
  </ul>
</nav>
