<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="salary"
        ><p i18n>side-bar.annual-income-simulation</p></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="income-tax-simulator"
        ><p i18n>side-bar.income-tax-simulation</p></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink=""
        ><p i18n>side-bar.bond-simulation</p></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        ><p i18n>side-bar.monthly-salary-simulation</p></a
      >
    </li>
  </ul>
</nav>
