<div class="container-fluid mt-3">
  <div class="row">
    <h2 i18n>income-tax-simulator.title</h2>
  </div>
  <div class="row mt-2">
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>
            <p i18n>income-tax-simulator.taxable-income-form-label</p>
          </mat-label>
          <input
            matInput
            type="number"
            placeholder="0"
            min="0"
            formControlName="taxableAmountFormController"
            step="1000"
          />
          <mat-hint i18n
            >income-tax-simulator.taxable-income-form-hint</mat-hint
          >
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="row mt-2">
    <h4 i18n>income-tax-simulator.brackets-detail</h4>
    <app-brackets-detail
      [taxableIncome]="
        this.formGroup.value.taxableAmountFormController
          ? this.formGroup.value.taxableAmountFormController
          : 0
      "
    ></app-brackets-detail>
  </div>
</div>
