<div class="container">
  <h2>Previsioni</h2>
  <div class="row">
    <form [formGroup]="bondTypeFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Tipologia BOND</mat-label>
        <mat-select formControlName="bondTypeFormControl">
          @for (item of bondTypes; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <br />
  <div class="row" *ngIf="isBTPSelected()">
    <div class="col-6">
      <div class="h3">Dati</div>
      <form action="" [formGroup]="formGroup" (submit)="compute()">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Nome obbligazione</mat-label>
            <input
              matInput
              type="text"
              formControlName="nameFormControl"
              placeholder="BTP-DDMMYY X.XX%"
            />
          </mat-form-field>
          <div
            *ngIf="
              formGroup.get('name')?.invalid &&
              formGroup.get('name')?.errors &&
              (formGroup.get('name')?.dirty || formGroup.get('name')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="formGroup.get('name')?.hasError('required')"
            >
              Il campo é obbligatorio.
            </small>
            <small
              class="text-danger"
              *ngIf="formGroup.get('name')?.hasError('pattern')"
            >
              Il campo non rispetta l'espressione regolare.
            </small>
          </div>
        </div>
        <br />
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>ISIN</mat-label>
            <input
              matInput
              type="text"
              formControlName="isin"
              placeholder="ITXXXXXXXXXY"
            />
          </mat-form-field>
          <div
            *ngIf="
              formGroup.get('isin')?.invalid &&
              formGroup.get('isin')?.errors &&
              (formGroup.get('isin')?.dirty || formGroup.get('isin')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="formGroup.get('isin')?.hasError('required')"
            >
              Il campo é obbligatorio.
            </small>
            <small
              class="text-danger"
              *ngIf="formGroup.get('isin')?.hasError('pattern')"
            >
              Il campo non rispetta l'espressione regolare.
            </small>
          </div>
        </div>
        <br />
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Inserisci Prezzo Corrente</mat-label>
            <input
              matInput
              type="number"
              min="0"
              formControlName="currentValueFormControl"
            />
          </mat-form-field>
        </div>
        <br />
        <div class="row">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="formGroup.invalid"
          >
            Calcola
          </button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h3>Dati derivati</h3>
      <div class="d-flex justify-content-between">
        <span>Cedola annuale</span>
        <span>{{ bond?.annualCoupon | percent: "1.2-2" }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Scadenza</span>
        <span>{{ bond?.expirationDate | date: "d/M/yyyy" }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Periodo rimanente</span>
        <span>{{ bond?.remainingPeriod?.years }} anni</span>
      </div>
    </div>
  </div>
</div>
