<div class="container">
  <h2>Previsioni</h2>
  <div class="row">
    <form [formGroup]="bondTypeFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Tipologia BOND</mat-label>
        <mat-select formControlName="bondTypeFormControl">
          @for (item of bondTypes; track $index) {
            <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <br />
  <div class="row" *ngIf="isBTPSelected()">
    <div class="col-6">
      <div class="h3">Dati</div>
      <form action="" [formGroup]="formGroup" (submit)="compute()">
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Nome obbligazione</mat-label>
            <input
              matInput
              type="text"
              formControlName="nameFormControl"
              placeholder="BTP-DDMMYY X.XX%"
            />
            @if (formGroup.get("nameFormControl")?.hasError("required")) {
              <mat-error>Name is <strong>required</strong></mat-error>
            }
            @if (formGroup.get("nameFormControl")?.hasError("pattern")) {
              <mat-error>Name must respect pattern</mat-error>
            }
          </mat-form-field>
        </div>
        <br />
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>ISIN</mat-label>
            <input
              matInput
              type="text"
              formControlName="isin"
              placeholder="ITXXXXXXXXXY"
            />
            @if (formGroup.get("isin")?.hasError("required")) {
              <mat-error>ISIN is <strong>required</strong></mat-error>
            }
            @if (formGroup.get("isin")?.hasError("pattern")) {
              <mat-error>ISIN must respect pattern</mat-error>
            }
          </mat-form-field>
        </div>
        <br />
        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Inserisci Prezzo Corrente</mat-label>
            <input
              matInput
              type="number"
              min="0"
              formControlName="currentValueFormControl"
            />
          </mat-form-field>
        </div>
        <br />
        <div class="row">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="formGroup.invalid"
          >
            Calcola
          </button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h3>Dati derivati</h3>
      <div class="d-flex justify-content-between">
        <span>Cedola annuale</span>
        <span>{{ bond?.annualCoupon | percent: "1.2-2" }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Scadenza</span>
        <span>{{ bond?.expirationDate | date: "d/M/yyyy" }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <span>Periodo rimanente</span>
        <span>{{ bond?.remainingPeriod?.years }} anni</span>
      </div>
    </div>
  </div>
</div>
