<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Inserisci retribuzione oraria</mat-label>
          <input
            matInput
            placeholder="88.76"
            type="number"
            min="0"
            step="0.01"
            formControlName="salaryUnityValueFormControl"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Inserisci frequenza</mat-label>
          <input
            matInput
            placeholder="22"
            type="number"
            min="0"
            formControlName="salaryFrequencyFormControl"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-card appearance="outlined">
          <mat-card-content>{{ salary | currency: "EUR" }}</mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <app-other-compensations-form-section
        (otherCompensationListChangedEvent)="
          this.onOtherCompensationListChanged($event)
        "
      ></app-other-compensations-form-section>
    </div>
    <mat-divider></mat-divider>
    <div class="row">Trattenute</div>
    <div class="row">
      <div class="col">INPS</div>
      <div class="col" [matTooltip]="socialContributionTaxableAmountTooltip">
        {{ socialContributionTaxableAmount | currency: "EUR" }}
      </div>
      <div class="col">{{ roundedSalary | currency: "EUR" }}</div>
      <div class="col">
        <input
          matInput
          type="number"
          min="0"
          step="0.001"
          formControlName="socialContributionRateFormControl"
          class="tabular-input"
        />
      </div>
      <div class="col">
        {{ socialContributionWithholding | currency: "EUR" }}
      </div>
    </div>
    <div class="row">
      <div class="col">IRPEF</div>
      <div class="col" [matTooltip]="incomeTaxableAmountTooltip">
        {{ incomeTaxableAmount | currency: "EUR" }}
      </div>
      <div class="col">-</div>
      <div class="col">
        <input
          matInput
          type="number"
          min="0"
          step="0.001"
          formControlName="incomeTaxRateFormControl"
          class="tabular-input"
        />
      </div>
      <div class="col">{{ incomeTaxWithholding | currency: "EUR" }}</div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
