<table mat-table [dataSource]="withHoldingList" class="mat-elevation-z8">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Tipo</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    <td mat-footer-cell *matFooterCellDef>Totale Trattenute</td>
  </ng-container>
  <ng-container matColumnDef="taxableAmount">
    <th mat-header-cell *matHeaderCellDef>Imponibile</th>
    <td mat-cell *matCellDef="let element">
      {{ element.taxableAmount | currency: "EUR" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="withHoldingAmount">
    <th mat-header-cell *matHeaderCellDef>Trattenuta</th>
    <td mat-cell *matCellDef="let element">
      {{ element.withHoldingAmount | currency: "EUR" }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalWithHoldingAmount | currency: "EUR" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayableColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayableColumns"></tr>
</table>
