<table
  mat-table
  [dataSource]="paycheckEntryList"
  class="mat-elevation-z8"
  multiTemplateDataRows
>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    <td mat-footer-cell *matFooterCellDef>Totale Competenze</td>
  </ng-container>
  <ng-container matColumnDef="unityValue">
    <th mat-header-cell *matHeaderCellDef>Valore Unitario</th>
    <td mat-cell *matCellDef="let element">
      {{ element.unityValue | currency: "EUR" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="frequency">
    <th mat-header-cell *matHeaderCellDef>Frequenza</th>
    <td mat-cell *matCellDef="let element">
      {{ element.frequency }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Importo</th>
    <td mat-cell *matCellDef="let element">
      @if (element.amount) {
        <span class="compensation-amount">
          + {{ element.amount | currency: "EUR" }}
        </span>
      } @else if (element.withholdings) {
        <span class="withholdings-amount">
          - {{ element.withholdings | currency: "EUR" }}
        </span>
      } @else {
        -
      }
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ totalAmount | currency: "EUR" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="taxableAmount">
    <th mat-header-cell *matHeaderCellDef>Imponibile</th>
    <td mat-cell *matCellDef="let element">
      {{ element.taxableAmount | currency: "EUR" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="footer-total-compensation-label">
    <td mat-footer-cell *matFooterCellDef colspan="4">Totale competenze</td>
  </ng-container>
  <ng-container matColumnDef="totalCompensation">
    <td mat-footer-cell *matFooterCellDef>
      {{ totalAmount | currency: "EUR" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="footer-total-withholdings-label">
    <td mat-footer-cell *matFooterCellDef colspan="4">Totale trattenute</td>
  </ng-container>
  <ng-container matColumnDef="totalWithholdings">
    <td mat-footer-cell *matFooterCellDef>
      {{ withHoldings | currency: "EUR" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="footer-net-amount-label">
    <td mat-footer-cell *matFooterCellDef colspan="4">Netto</td>
  </ng-container>
  <ng-container matColumnDef="netAmount">
    <td mat-footer-cell *matFooterCellDef>
      {{ netAmount | currency: "EUR" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayableColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayableColumns; when: isCompensationRow"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayableColumns; when: isWithholdingRow"
  ></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="['footer-total-compensation-label', 'totalCompensation']"
  ></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="['footer-total-withholdings-label', 'totalWithholdings']"
  ></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="['footer-net-amount-label', 'netAmount']"
  ></tr>
</table>
