<div class="row">
  <div class="col-10">
    <h1>Compute your net salary</h1>
  </div>
  <div class="col">
    <form [formGroup]="salaryViewDriverGroup">
      <mat-slide-toggle
        formControlName="enableIntraStepsFormControl"
        labelPosition="before"
        >Expand</mat-slide-toggle
      >
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="salaryFormGroup" (submit)="onSubmit()">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Gross Annual Salary</mat-label>
          <input
            matInput
            class="salary-input"
            type="number"
            placeholder="0"
            min="0"
            formControlName="grossSalaryFormControl"
            step="10000"
            (change)="this.onGrossSalaryChange()"
          />
          <span matTextPrefix>&#8364;</span>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Insert here Gross Annual Salary</mat-hint>
        </mat-form-field>
      </div>
      @if (isIntraStepsEnabled) {
        <mat-card appearance="outlined">
          <mat-card-content>{{
            this.grossSalary | currency: "EUR"
          }}</mat-card-content>
        </mat-card>
      }
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Social Security Contributions Rate</mat-label>
          <input
            matInput
            class="social-security-contributions-rate-input"
            type="number"
            placeholder="0"
            min="0"
            formControlName="socialSecurityContributionsRateFormControl"
            step="0.1"
            (change)="this.onSocialSecurityContributionRateChange()"
          />
          <span matTextPrefix>&percnt;</span>
          <mat-hint
            >Insert the employee social security contributions rate</mat-hint
          >
        </mat-form-field>
      </div>
      @if (isIntraStepsEnabled) {
        <mat-card appearance="outlined">
          <mat-card-content>
            {{ this.incomeBeforeTaxation | currency: "EUR" }}
            <span>
              (-
              {{
                this.socialSecurityEmployeeContributionRate | percent: "1.2-2"
              }})
            </span>
          </mat-card-content>
        </mat-card>
      }
      <div class="row">
        <div class="row">
          <mat-form-field>
            <mat-label>Strategy</mat-label>
            <mat-select
              formControlName="incomeTaxStrategyFormControl"
              [(ngModel)]="this.selectedIncomeTaxStrategy"
            >
              @for (item of incomeTaxStrategyList; track $index) {
                <mat-option [value]="item">{{ item.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Strategy Details</mat-panel-title>
                <mat-panel-description>
                  Look into details how the income tax is computed
                </mat-panel-description>
              </mat-expansion-panel-header>
              @if (isItaly2024Selected()) {
                <h4>{{ selectedIncomeTaxStrategy.name }}</h4>
                <app-brackets-detail
                  [taxableIncome]="incomeBeforeTaxation"
                  (incomeTaxAmountChangedEvent)="
                    this.onIncomeTaxationChange($event)
                  "
                ></app-brackets-detail>
              }
              @if (isCustomStrategySelected()) {
                <mat-form-field appearance="outline">
                  <mat-label class="mx-auto">Income Taxation Rate</mat-label>
                  <input
                    matInput
                    class="salary-input"
                    type="number"
                    placeholder="0"
                    min="0"
                    formControlName="incomeTaxationRateFormControl"
                    step="0.1"
                    (change)="onIncomeTaxationSliderChange()"
                  />
                  <span matTextSuffix>&#37;</span>
                  <mat-hint>Insert the rate for income tax</mat-hint>
                </mat-form-field>
              }
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      @if (isIntraStepsEnabled) {
        <app-tax-info-card [taxInfo]="incomeTax"></app-tax-info-card>
      }
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Number of payments (per year)</mat-label>
          <input
            matInput
            class="salary-input"
            type="number"
            placeholder="0"
            min="0"
            formControlName="installmentNumberPerYearFormControl"
            step="1"
            (change)="this.onInstallmentNumberPerYearChange()"
          />
          <mat-hint>Insert the number of payments per year</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="row mx-1 my-1">
    <mat-card appearance="outlined">
      <mat-card-content>
        {{ this.grossPeriodicSalary | currency: "EUR" }}
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row mx-1 my-1">
    <mat-card appearance="outlined">
      <mat-card-content>
        {{ this.netPeriodicSalary | currency: "EUR" }}
        <span>
          (-
          {{ this.withholdingPeriodicAmount | currency: "EUR" }}
          ) (-
          {{ this.withholdingPeriodicRate | percent: "1.2-2" }})
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
