<div class="row">
  <div
    class="col-2"
    style="display: flex; align-items: center; justify-content: center"
  >
    <h3>Paychecks</h3>
  </div>
  <div class="col">
    <form [formGroup]="formGroup" class="m-2">
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Seleziona l'anno</mat-label>
        <mat-select
          formControlName="yearFormControl"
          (selectionChange)="this.onYearSelectionChange()"
        >
          @for (item of availableYearList; track $index) {
            <mat-option value="{{ item }}">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div
    class="col"
    style="display: flex; align-items: center; justify-content: center"
  >
    <div class="row">
      <div class="col">
        <button mat-fab extended (click)="openPaycheckFormModal()">
          <mat-icon fontIcon="add"></mat-icon>
          Insert
        </button>
      </div>
      <div class="col">
        <button mat-fab extended (click)="importPaychecksFromFile()">
          <mat-icon fontIcon="upload"></mat-icon>
          Import
        </button>
      </div>
      <div class="col">
        <button mat-fab extended (click)="exportPaychecksToFile()">
          <mat-icon fontIcon="download"></mat-icon>
          Export
        </button>
      </div>
    </div>
  </div>
</div>
