.container {
    width: 900px;
    height: 400px;
    display: flex;
    gap: 10px;
}

.card {
    min-width: 70px;
    height: 100%;
    flex-grow: 1;
    transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card.active {
    flex-grow: 100;
}
